*{ margin:0; padding:0; box-sizing:border-box; }

 .carousel-inner img {
    width: 100%;
    height: 80vh;
  } 

  .aboutimg{
   width: 100%;
   height
  }

.nav-link a:hover {
  background-color: #ddd;
  color: black;
}

